.vscode/**
.github/**
src/**
webview-ui/src/**
webview-ui/node_modules/**
webview-ui/public/**
webview-ui/index.html
webview-ui/*.ts
webview-ui/*.json
webview-ui/*.config.*
node_modules/**
docs/**
**/*.ts
**/*.map
**/tsconfig.json
.eslintrc.json
esbuild.js
.gitignore
**/.DS_Store
factory-vscode.vsix
